<div class="word-search-sheet">
	<h1>Of categorise and Categorical </h1>
	<h3>Due: 2012-07-21</h3>
	<div>
		<b>Name:</b>____________ <b>Date:</b>__________
	</div>
	<hr>
	<% @word_search_set.to_a.each do |grid| %>
		<ul class="word-search-grid grid_width_<%= @word_search_set.prototype.height.to_i%>">
   		<% grid.each do |row| %>
			<li>
			<ul class="word-search-row">
			<% row.each do |cell| %>
				<li><%= cell %></li>
			<% end %>
			</ul>
			</li>
		<% end %>
		</ul>
	<% end %>
	<hr />
	<ul>
		<li>CAT
	</ul>
</div>
