<div class="word-search-sheet">
<h1>Of categorise adnd Categorical </h1>
<h3>Due: 2012-07-21</h3>
<div>
	<b>Name:</b>____________ <b>Date:</b>__________
</div>
<hr>
<ul class="word-search-grid">
	<li>
	<ul class="word-search-row">
		<li>C
		<li>A
		<li>T
	</ul>
	</li>
	<li>
	<ul class="word-search-row">
		<li>C
		<li>A
		<li>T
	</ul>
	</li>

	<li>
	<ul class="word-search-row">
		<li>C
		<li>A
		<li>T
	</ul>
	</li>
</ul>
<hr>
<ul>
	<li>CAT
</ul>
</div>
