/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */

body {
	background: @btnPrimaryBackground url("/img/bg.gif");}

#main {
	background: white;
	border: 5px @btnPrimaryBackground solid;
	border-left: none;
	border-right: none;
	padding: 18px 48px 0;}

#login {
	text-align:right;
	opacity: 0.8;
	margin-bottom: 30px;}

#main-head {
	position: relative;
	top: -30px;}
#main-head a {}

#navi .btn-group {
	margin-top: 40px;
	float: right;}

