	<div class="row">
		<div class="span4">
			<div>
				<h1>Create your own Word Searches now!</h1>
				<p>Within 5 minutes you will have safe and grade level matched Word Searches for your class or children. You will save hours with our premade word lists. You will even save money on printer ink.</p>
				<p>Get started <strong>now</strong> with a free trial</p>
			</div>
			<a class="btn btn-primary">Buy Now $29.00</a>
			<a class="btn btn-info">Try Now!</a>
		</div>
		<div class="span6">
			<img src="img/demostration_laptop.png" />
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="span4">
			<div class="row">
				<div class="span4">
					<h2>How to create a Word Search</h2>
				</div>
			</div>
			<div class="row">
				<div class="span1">
					<blockquote><b>Step 1</b></blockquote>
					<p>Log into your account</p>
				</div>
				<div class="span1">
					<blockquote><b>Step 2</b></blockquote>
					<p>Select a word list or add your own</p>
				</div>
				<div class="span1">
					<blockquote><b>Step 3</b></blockquote>
					<p>Select grade level and completion time</p>
				</div>
				<div class="span1">
					<blockquote><b>Step 4</b></blockquote>
					<p>Print any number of copies</p>
				</div>
			</div>
			<hr>
		</div>
		<div class="span6">
			<div class="row">
				<div class="span3">
					<h2>Save Money!</h2>
					<p>Since Word Search Creator uses less ink  you will save money. The average teacher of a class of 30 will <strong>save over $25!</strong></p>
				</div>
				<div class="span3">
					<h2>Save Time!</h2>
					<p>We provide over XX pre-made word lists. Provide hours of engaging learning without long pretimes.</p>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<h2>Use any Computer!</h2>
					<p>You can use Word Search Creator on any computer with an internet connection. No Administrator permissions required! Just login and start creating. </p>
				</div>
				<div class="span3">
					<h2>No Swear Words!</h2>
					<p>Word Search Creator will never add words we wouldn't want our children to read.</p>
					<p>Imagine handing out homework with swear words hidden between the lines. That will never happen with Word Search Creator.</p>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<h2>Real Human Support!</h2>
					<p>If you have any problems with Word Search Creator a real human will help fix them. We do not use confusing forms to stop you from contacting us. If you have any troubles we want you to contact us and we want to make things right!</p>
				</div>
				<div class="span3">
					<h2>No Swear Words!</h2>
					<p>Word Search Creator will never add words we wouldn't want our children to read.</p>
					<p>Imagine handing out homework with swear words hidden between the lines. That will never happen with Word Search Creator.</p>
				</div>
			</div>
			<div class="row">
				<div class="span5 offset1">
					<a class="btn btn-large btn-info">Try Word Search Creator <strong>now</strong> for free!</a>
				</div>
			</div>
		</div>
	</div>

