<div id='step-header' class="row">
	<div class="span4">
		Pick Words
	</div>
	<div class='span4'>
		Options
	</div>
	<div class='span4'>
		Preview & Print
	</div>
</div>
<hr>
<%= render 'stepNavigation' %>
